*{
   box-sizing: border-box;
}

body{
   display: flex;
   background-image: url('drum\ kit\ BI.jpg');
   background-size: cover;
   background-attachment: fixed;
   color: white;
   flex: 1;
   min-height: 100vh;
   align-items: center;
}

.clock{

   width: 150px;
   height: 150px;
   border: 5px solid white;
   border-radius: 100%;
   margin: 50px auto;
   
}
#hand{
   width: 60px;
   position: absolute;
   top: 50%;
   height: 2px;
   background: teal;
   border: 2px solid teal;
   transform-origin: 100%;
   margin: 10px ;
   transform: rotate(90deg);
   transition: all 0.05s;
   transition-timing-function: cubic-bezier(0.1,2.7,0.58,1)
}